<div class="row">
    <!--<section class="col-md-2 col-sm-2 connectedSortable">-->

        <!--&lt;!&ndash;<div class="box box-success" ng-controller="ParameterCtrl" >&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="box-header with-border">&ndash;&gt;-->
                <!--&lt;!&ndash;<h3 class="box-title">ParaController</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="box-tools pull-right">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&lt;!&ndash; /.box-header &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="box-body">&ndash;&gt;-->
                <!--&lt;!&ndash;<uib-tabset active="Map">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash; Tabs within a box &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<uib-tab index="0" heading="Map">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div style="position: relative; height: 300px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input id="range_2" type="text" name="range_2" value="1000;100000" data-type="double" data-step="500" data-postfix=" &euro;" data-from="30000" data-to="90000" data-hasgrid="true">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;</uib-tab>&ndash;&gt;-->
                    <!--&lt;!&ndash;<uib-tab index="1" heading="Query">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div style="position: relative; height: 300px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label for="TNumber">Car Number</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="input-group-addon">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="fa fa-car"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="text" class="form-control" id="TNumber" placeholder="鄂AXW753">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label for="TStartTime">Start Date</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="input-group-addon">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="date" class="form-control pull-right" id="TStartTime" value="2013-03-01">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&lt;!&ndash; /.input group &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                <!--&lt;!&ndash;<label for="TEndTime">End Date</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="input-group-addon">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="date" class="form-control pull-right" id="TEndTime" value="2014-06-01">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&lt;!&ndash; /.input group &ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="submit" class="btn btn-primary" ng-click="queryClick()">Query</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="submit" class="btn btn-primary pull-right" ng-click="ClearResult()">Clear</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;</uib-tab>&ndash;&gt;-->
                    <!--&lt;!&ndash;<uib-tab index="2" heading="StackBar">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div style="position: relative; height: 300px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="submit" class="btn btn-primary" ng-click="updateStackClick()">update</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</uib-tab>&ndash;&gt;-->
                <!--&lt;!&ndash;</uib-tabset>&lt;!&ndash; /.nav-tabs-custom &ndash;&gt;&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&lt;!&ndash; /.box-body &ndash;&gt;&ndash;&gt;-->


        <!--&lt;!&ndash;</div>&lt;!&ndash; /.box &ndash;&gt;&ndash;&gt;-->



    <!--</section>&lt;!&ndash; /.col &ndash;&gt;-->
    <section class="col-md-6 col-sm-6 connectedSortable" id="seqBox">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">MapView</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="pad">
                    <!-- Map will be created here -->
                    <div id="map" my-map-chart ></div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div class="box box-primary" my-line-chart="TimeView" title="{{isUpdateTimeView}}" ></div>


    </section>
    <section class="col-ma-6 col-sm-6 connectedSortable ">
        <div class="box" my-graph-chart="RelationGraph"></div><!-- /.box -->
        <div class="box table-responsive no-padding" my-selected-table="TableView" title="{{isSelectedDataTable}}" ng-click="tableViewClick()" >

        </div><!-- /.box -->
    </section>
</div>




